body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
}

#root {
  background-color:  black;
  height: 100vh;
  width: 100vw;
}

ol, ul {
  padding-left: 30px;
}

.entire-board {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /*background-color: black;*/
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #666;
  border-style: solid;
  border-color: #67c8d0 #ee1d51;
  border-width: 2px;
  /*border-top: 1px #67c8d0;
  border-right: 1px #ee1d51;
  border-bottom: 1px #67c8d0;
  border-left: 1px #ee1d51;*/
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.icon {
  width: 146px;
  height: 146px;
}

@media (max-width: 900px) {
  .square {
    height: 50px;
    width: 50px;
  }

  .icon {
    height: 50px;
    width: 50px;
  }
}

@media (max-height: 570px) {
  .square {
    height: 50px;
    width: 50px;
  }

  .icon {
    height: 50px;
    width: 50px;
  }
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}